* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #e5e5e5;
  font-family: "Montserrat", sans-serif;
}

aside {
  width: 370px;
  background: #1e2939;
}

main {
  padding: 50px 102px;
}

.main-title {
  width: 400px;
}

.main-title-job {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  padding-top: 19px;
  padding-bottom: 24px;
}

.main-title-short {
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.main-projects {
  padding-top: 40px;
  width: 485px;
}

.main-work {
  padding-top: 51px;
}

.orange {
  color: #fb6d3a;
}

.main-section-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  padding-bottom: 5px;
}

.main-subsection-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 11px;
}

.main-sub2section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 12px;
}

.main-section-date {
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  padding-bottom: 8px;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  justify-content: center;
  margin: auto;
  background: #ffffff;
  box-shadow: 6px 6px 20px #0000001a;
}

.cv-photo {
  margin-top: 50px;
}

.aside-block {
  padding-top: 40px;
  padding-left: 40px;
}

.aside-block h2 {
  color: #ffffff;
}

.aside-block il {
  color: #ffffff;
}

.aside-block p {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
}

.aside-block a {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
}

.aside-block ul {
  color: #fb6d3a;
  font-size: 14px;
  line-height: 24px;
  padding-top: 8px;
  list-style-position: inside;
}

.aside-bold {
  font-weight: 700;
  display: inline-block;
  width: 26px;
}

.aside-block.contacts .aside-bold {
  font-size: 16px;
  line-height: 40px;
}

.aside-block.contacts a {
  font-size: 16px;
  line-height: 40px;
  text-decoration: none;
}

i {
  color: #fff;
}

.main-links {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: none;
  color: #595959;
}

.main-ol-list {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  list-style-position: inside;
}

.main-ul-list {
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  list-style-position: inside;
  padding-bottom: 16px;
}

li > ul {
  margin-left: 2rem;
}
