* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #e5e5e5;
  font-family: "Montserrat", sans-serif;
}

aside {
  width: 350px;
  background: #1e2939;
}

main {
  padding: 50px 80px;
  width: 850px;
}

.main-title {
  width: 690px;
  margin-bottom: 50px;
}

.main-title-job {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 50px;
}

.main-title-short {
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-bottom: 10px;
}

.hobby-en .main-title-short {
  margin-bottom: 40px;
}

.hobby-pl .main-title-short {
  margin-bottom: 0px;
}

.main-projects {
  padding-top: 40px;
  width: 485px;
}

.main-work {
  padding-top: 0px;
}

.orange {
  color: #fb6d3a;
}

.main-section-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-subsection-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 5px;
}

.main-sub2section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 12px;
}

.main-section-date {
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  padding-bottom: 8px;
}

.projects .main-section-date {
  font-size: 14px;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  justify-content: center;
  margin: auto;
  background: #ffffff;
  box-shadow: 6px 6px 20px #0000001a;
}

/* .cv-photo {
  margin-top: 50px;
} */

.aside-block {
  padding-top: 50px;
  padding-left: 40px;
}

.aside-top {
  padding-top: 50px;
  padding-left: 40px;
  background-color: #fb6d3a;
  padding-bottom: 50px;
  font-weight: 600;
}

.aside-block h2 {
  color: #ffffff;
}

.aside-block p,
.aside-block a,
.aside-top a {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
}

.aside-block ul {
  font-size: 14px;
  line-height: 24px;
  padding-top: 8px;
  list-style-position: inside;
  list-style: none;
}

.aside-block li {
  color: #ffffff;
  padding-left: 1em;
  text-indent: -0.7em;
}

.aside-block li::before {
  content: "•";
  color: #fb6d3a;
  padding-right: 7px;
  font-weight: bold;
}

.aside-bold {
  font-weight: 700;
  display: inline-block;
  width: 26px;
}

.aside-block.contacts .aside-bold,
.aside-block.top .aside-bold {
  font-size: 16px;
  line-height: 40px;
}

.aside-block.contacts a,
.aside-top.contacts a {
  font-size: 16px;
  line-height: 40px;
  text-decoration: none;
}

.aside-block.aside-print i {
  padding-left: 1em;
}

.aside-block.aside-print a {
  text-decoration: none;
}

i {
  color: #fff;
}

.main-ul-list a {
  font-style: italic;
  font-weight: 700;
  text-decoration-line: none;
  color: #808080;
}

.main-section-date a {
  font-style: italic;
  font-weight: 700;
  text-decoration-line: none;
}

.main-subsection-title a {
  font-style: italic;
  font-weight: 700;
  text-decoration-line: none;
  color: #1e2939;
}

.main-ul-list {
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  list-style-position: outside;
  padding-bottom: 16px;
  margin-left: 0.8rem;
}

.main-ul-list li > ul > li,
.projects ul {
  margin-left: 1.5rem;
  list-style-position: outside;
}

.main-bold {
  font-weight: 700;
  margin-left: -0.5rem;
}

.projects .main-bold {
  font-weight: 700;
  color: #000;
}

.projects {
  margin-left: 1rem;
  margin-top: 10px;
}

li > ul {
  margin-left: 0.5rem;
}

.clause-en {
  font-size: 10px;
  margin-top: 30px;
}

.clause-pl {
  font-size: 10px;
  margin-top: 10px;
}

.hobby-en {
  margin-top: 10px;
  margin-bottom: 20px;
}

.hobby-pl {
  margin-top: 10px;
  margin-bottom: 15px;
}

.page-break-end {
  page-break-after: always;
  height: 0;
  width: 0;
}

.page-break-begin {
  page-break-before: always;
  height: 0;
  width: 0;
}

@media print {
  .page-break-begin {
    margin-top: 50px;
  }
  .lang {
    display: none;
  }
  .aside-print {
    display: none;
  }
}

.lang {
  float: right;
  color: #808080;
}

.lang a {
  text-decoration: none;
  color: #808080;
}

html[lang="pl"] .aside-block h2 {
  font-size: 20px;
}
