* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #e5e5e5;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  justify-content: center;
  margin: auto;
  background: #ffffff;
  box-shadow: 6px 6px 20px #0000001a;
}

/* === MAIN === */

main {
  padding: 50px 80px;
  width: 850px;
}

.main-top {
  width: 690px;
  margin-bottom: 50px;
}

.main-lang {
  float: right;
}

.main-lang a {
  text-decoration: none;
  color: #fb6d3a;
}

#switch-lang {
  background: none;
  color: #808080;
  border: none;
  font: inherit;
  cursor: pointer;
}

.no-link-orange {
  color: #fb6d3a;
}

h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 50px;
}

.main-paragraph {
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-bottom: 10px;
}

.main-section-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-subsection-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 5px;
}

.main-subsection-title a {
  font-style: italic;
  text-decoration-line: none;
  color: inherit;
}

.main-subsection-date {
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  padding-bottom: 8px;
}

.main-subsection-date a {
  font-style: italic;
  font-weight: 700;
  text-decoration-line: none;
  color: #fb6d3a;
}

.main-sub2section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 5px;
  color: #000000;
}

.main-ul-list {
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  list-style-position: outside;
  padding-bottom: 16px;
  margin-left: 0.8rem;
}

.main-ul-list a {
  font-style: italic;
  font-weight: 700;
  text-decoration-line: none;
  color: #808080;
}

.main-subsection-projects {
  margin-left: 1rem;
  margin-top: 10px;
}

.main-ul-list li > ul > li,
.main-subsection-projects ul {
  margin-left: 1.5rem;
  list-style-position: outside;
}

.main-subsection-projects .main-subsection-date {
  font-size: 14px;
}

.main-hobby {
  margin-top: 10px;
}

.main-hobby-en {
  margin-bottom: 70px;
}

.main-hobby-pl {
  margin-bottom: 95px;
}

.main-clause {
  font-size: 10px;
}

/* === ASIDE === */

i {
  color: #fff;
}

aside {
  width: 350px;
  background: #1e2939;
}

.aside-block {
  color: #ffffff;
  padding-top: 50px;
  padding-left: 40px;
}

.aside-top {
  padding-top: 50px;
  padding-left: 40px;
  background-color: #fb6d3a;
  padding-bottom: 50px;
  font-weight: 600;
}

.aside-block ul {
  font-size: 14px;
  line-height: 24px;
  padding-top: 8px;
  list-style-position: inside;
  list-style: none;
}

.aside-block li {
  padding-left: 1em;
  text-indent: -0.7em;
}

.aside-block li::before {
  content: "• ";
  color: #fb6d3a;
  padding-right: 7px;
  font-weight: bold;
}

.aside-bold {
  font-weight: 700;
  display: inline-block;
  width: 26px;
}

.aside-block span.pl {
  font-size: 20px;
}

.aside-block p,
.aside-block a,
.aside-top a {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
}

.aside-block.contacts .aside-bold,
.aside-block.top .aside-bold {
  font-size: 16px;
  line-height: 40px;
}

.aside-block.aside-print i,
.aside-block.aside-noprint i {
  padding-left: 0.5em;
}

.aside-block.contacts a,
.aside-top.contacts a {
  font-size: 16px;
  line-height: 40px;
  text-decoration: none;
}

.aside-block.aside-print a,
.aside-block.aside-noprint a {
  text-decoration: none;
}

/* === PRINT === */

.page-break-end {
  page-break-after: always;
  height: 0;
  width: 0;
}

.page-break-begin {
  page-break-before: always;
  height: 0;
  width: 0;
}

.certificates-print {
  display: none;
}

@media print {
  .page-break-begin {
    margin-top: 50px;
  }

  .main-lang,
  .aside-print {
    display: none;
  }

  .main-subsection-date a,
  .main-ul-list a {
    font-style: normal;
    font-weight: normal;
  }

  .main-subsection-title a {
    font-style: normal;
  }

  .main-ul-list a {
    color: #595959;
  }

  .certificates-print {
    display: block;
  }
}
